@page "/logout"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authentication

@inject NavigationManager UriHelper
@inject IHttpContextAccessor HttpContextAccessor
@inject IConfiguration Configuration

<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var httpContext = HttpContextAccessor.HttpContext;
        var idToken = await httpContext.GetTokenAsync("id_token");
        await httpContext.SignOutAsync();
        
        var keycloakBaseUrl = Configuration["Keycloak:LogoutUrl"];
        var keycloakLogoutUrl = $"{keycloakBaseUrl}?id_token_hint={idToken}" +
                                $"&post_logout_redirect_uri={UriHelper.BaseUri}";
        
        UriHelper.NavigateTo(keycloakLogoutUrl, forceLoad: true);
    }
}