@page "/logout"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authentication

@inject NavigationManager UriHelper
@inject IHttpContextAccessor HttpContextAccessor

<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var httpContext = HttpContextAccessor.HttpContext;
        var idToken = await httpContext.GetTokenAsync("id_token");
        await httpContext.SignOutAsync();
        
        var keycloakLogoutUrl = $"http://host.docker.internal:7270/realms/MemoRealm/protocol/openid-connect/logout" +
                                $"?id_token_hint={idToken}" +
                                $"&post_logout_redirect_uri={UriHelper.BaseUri}";
        
        UriHelper.NavigateTo(keycloakLogoutUrl, forceLoad: true);
    }
}